extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-upload.fa-sm
      | Bilder Upload

  .row
    .col-md-6
      p Hier kann man Bilder ins HIP laden
      form(role='form', enctype='multipart/form-data', method='POST')
        .form-group
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right File(s) Input
            .col-md-7
              input(type='file', name='myFile' multiple)
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right Licence
            .col-md-7
              select.form-control(name='licence')
                for licence in licences
                  option(value=licence.short)= licence.short
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right Licence Holder
            .col-md-7
              input(class='form-control', type='text', name='licenceHolder', placeholder="Licence Holder")
        button.btn.btn-primary(type='submit') Submit
