BASE_URL=http://localhost:8080
MONGODB_URI=mongodb://localhost:27017/hip

SESSION_SECRET=Your Session Secret goes here

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

SENDGRID_USER=hslogin
SENDGRID_PASSWORD=hspassword00

FACEBOOK_ID=754220301289665
FACEBOOK_SECRET=41860e58c256a3d7ad8267d3c1939a4a

TWITTER_KEY=6NNBDyJ2TavL407A3lWxPFKBI
TWITTER_SECRET=ZHaYyK3DQCqv49Z9ofsYdqiUgeoICyh6uoBgFfu7OeYC7wTQKa

GOOGLE_ID=828110519058.apps.googleusercontent.com
GOOGLE_SECRET=JdZsIaWhUFIchmC1a_IZzOHb

LINKEDIN_ID=77chexmowru601
LINKEDIN_SECRET=szdC8lN2s2SuMSy8
LINKEDIN_CALLBACK_URL=http://localhost:8080/auth/linkedin/callback

TUMBLR_KEY=FaXbGf5gkhswzDqSMYI42QCPYoHsu5MIDciAhTyYjehotQpJvM
TUMBLR_SECRET=QpCTs5IMMCsCImwdvFiqyGtIZwowF5o3UXonjPoNp4HVtJAL4o

LOB_KEY=test_814e892b199d65ef6dbb3e4ad24689559ca

PINTEREST_ID=4819282851912494691
PINTEREST_SECRET=b32f578ad83d94c058c6682329220feda7e5817e043a1cc4a5a1e28f51c70301
PINTEREST_REDIRECT_URL=https://localhost:8080/auth/pinterest/callback

GOOGLE_MAP_API_KEY=google-map-api-key
