#
# Project specific excludes
#

tomcat

#Libraries from npm packages
public/js/lib/bootstrap.min*
public/js/lib/jquery.min*
public/js/lib/popper.min*

# API keys and secrets
.env

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid

pids
logs
results
tmp

# Optional npm cache directory
.npm

#Build
public/css/main.css
.nyc_output/*

# Dependency directory
node_modules
bower_components

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
