extends layout
block content
  form(role='form', method='POST')
  .form-group.row.has-feedback
    label.col-md-3.col-form-label.font-weight-bold.text-right Search Test
    .col-md-7
      input(class="form-control", type="text", name="tags", data-role="tagsInput", placeholder="Type in a tag and press enter...")

