extends layout

block content
  h1 HIP Test
  p.lead based on the <a href="https://github.com/sahat/hackathon-starter">Hackathon Starter</a> open source project template
  hr
  .row
    .col-md-6
      p
        a.btn.btn-raised(href='api/aviary', role='button') Pictures
  .row
    .col-md-6
      p
        a.btn.btn-raised(href='api/google-maps', role='button') Map
  .row
    .col-md-6
      p
        a.btn.btn-raised(href='api/scraping', role='button') Tutorial