extends layout

block content
  h1 HIP - Historical Pictures
  hr
  .row
    .col-md-6
      p
        a.btn.btn-raised(href='picture/picture_overview', role='button') Pictures
  .row
    .col-md-6
      p
        a.btn.btn-raised(href='/openstreetmap', role='button') Map
  .row
    .col-md-6
      p
        a.btn.btn-raised(href='/explain', role='button') Hilfe
