extends ../layout

block append content
  h1 Hilfe Seite
  hr
  .row
    .col-md-3
      .panel-group
        .panel-default
          .panel-heading
            h2.panel-title Nützliche Links
          .panel-body
            .btn-group-vertical
              a.btn.btn-primary( href="/explain/intro" ) Intro
              p
              a.btn.btn-primary( href="/explain/tutorial" ) Tutorial
              p
              a.btn.btn-primary( href="/explain/faq" ) F.A.Q.
    .col-md-8
      .panel.panel-default.panelTwo
        .panel-heading
          h1.panel-titel Wer sind wir uns was wollen wir?
        .panal-body
          P Die Idee unserer Website ist es, die Geschichte Leipzigs lebendig werden zu lassen. Alte Fotos sollen gespeichert und auf einer Karte angezeigt werden. Dadurch soll die visuelle Geschichte Leipzigs durch die Bürger erzählt werden. Jeder kann alte Bilder hochladen egal, ob man dazu die Geschichte kennt oder nicht. Jeder der Informationen oder Geschichten zu den Bildern kennt aber selbst keine Bilder hat, kann diese Informationen hinzufügen ohne selbst Bilder hochzuladen.
          P Jeder registriete User ist in der Lage Veränderungen vorzunehmen und somit seinen Beitrag zur Geschichte Leipzigs beitragen.
