extends ../layout

block content
  h1 FAQ - häufig gestellte Fragen
  hr
  .row
    .col-md-3
      .panel-group
        .panel-default
          .panel-heading
            h2.panel-title Nützliche Links
          .panel-body
            .btn-group-vertical
              a.btn.btn-primary( href="/explain/intro" ) Intro
              p
              a.btn.btn-primary( href="/explain/faq" ) F.A.Q.
    .col-md-8
      h4 Was ist HiP?
      p HiP ist eine Plattform, die es ihren Usern (Anwendern) ermöglicht, Fotos aus verschiedensten Jahren hochzuladen, auf einer Karte zu verlinken und so die Entwicklung von verschiedenen Gebäuden/ Plätzen zu sehen.

      h4 Welche Bilder darf ich hochladen?
      p Prinzipiell darf man alle Fotos hochladen, von denen man eine Lizenz hat. Wir möchten allerdings darauf hinweisen, dass wir uns das Recht vorbehalten Fotos, die gegen geltendes Recht verstoßen oder eine Person / mehrere Personen angreifen / beleidigen etc., wieder von der Plattform zu löschen. Sollte dich ein Foto stören, so kannst du uns das über den “Melden”-Button mitteilen und wir werden das Bild schnellstmöglich prüfen.

      h4 Wie kann ich ein Bild hochladen?
      p In unserem Tutorial zeigt dir Pixi, wie man bei HiP Bilder hochladen kann.

      h4 Wie kann ich ein Bild löschen?
      p Wenn es ein Bild ist, dass du selbst hochgeladen hast, so kannst du es auch selbst aus deinem Album löschen. Sollte es sich um ein Bild halten, was nicht von dir stammt, welches du aber nicht auf dieser Plattform sehen willst, weil es zum Beispiel gegen geltendes Recht verstößt oder du die Lizenz dafür nicht freigegeben hast, so kannst du uns das über den &quot;Melden&quot;-Button mitteilen und wir werden das Bild schnellstmöglich prüfen.

      h4 Muss ich alle Felder ausfüllen?
      p Nein. Nur die Pflichtfelder, die mit einem &lowast; markiert sind, müssen ausgefüllt werden. Alle anderen Daten können auch nachträglich von dir oder einem anderen User ergänzt werden. Wenn du dir nicht sicher bist (was zum Beispiel die Jahreszahl angeht), ist eine begründete Vermutung auch ok. Die Begründung kannst du dann im Kommentar zu dem Bild hinterlassen.

      h4 Wie kann ich die Infos zum Bild korrigieren?
      p Siehst du einen Fehler bei einem Bild, so kannst du einen Änderungsvorschlag einreichen. Dieser wird dann weitergeleitet und geprüft.
      p Außerdem gibt es die Möglichkeit die Bilder anderer Teilnehmer zu taggen und zu kommentieren.

      h4 Was ist “Taggen”?
      p Beim Taggen fügt man dem Bild Kategorien hinzu, die auf den Inhalt des Bildes hinweisen. Taggen dient dazu Bilder schneller auffinden zu können z.B. wenn man nachsehen will wie ein Gebäude früher aussah oder zu welcher Kategorie von Gebäuden es gehört (Hochhaus, Bauernhof, etc.)

      h4 Was passiert mit den hochgeladenen Bildern?
      p Die Bilder auf HiP werden bei uns auf einem in Deutschland stehenden Server gespeichert. Diese werden solange gespeichert, bis der Urheber dem widerspricht. Die Bilder werden von uns nicht an Dritte weitergegeben. Es ist jedoch technisch möglich die Bilder zu kopieren. Zu den Nutzungsrechten siehe Lizenzen.

      h4 Verdient HiP Geld mit der Website?
      p Nein, HiP ist ein öffentliches Projekt der Universität Leipzig.

      h4 Wie digitalisiere ich Bilder?
      p Siehe hierzu das Digitalisierungstutorial.
