extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 API Examples

  .row
    .col-md-4
      a(href='/api/twitter', style='color: #fff')
        .card(style='background-color: #00abf0').mb-3
          .card-body
            img(src='https://i.imgur.com/EYA2FO1.png', height=40)
            |  Twitter
    .col-md-4
      a(href='/api/facebook', style='color: #fff')
        .card(style='background-color: #3b5998').mb-3
          .card-body
            img(src='https://i.imgur.com/jiztYCH.png', height=40)
            |  Facebook
    .col-md-4
      a(href='/api/linkedin', style='color: #fff')
        .card(style='background-color: #007bb6').mb-3
          .card-body
            img(src='https://i.imgur.com/sYmVWAw.png', height=40)
            |  LinkedIn
    .col-md-4
      a(href='/api/tumblr', style='color: #fff')
        .card(style='background-color: #304e6c').mb-3
          .card-body
            img(src='https://i.imgur.com/rZGQShS.png', height=40)
            |  Tumblr
    .col-md-4
      a(href='/api/aviary', style='color: #fff')
        .card(style='background: linear-gradient(to bottom, #1f3d95 0%,#04aade 100%)').mb-3
          .card-body
            img(src='https://i.imgur.com/npBRwMI.png', height=40)
            |  Aviary
    .col-md-4
      a(href='/api/lob', style='color: #fff')
        .card(style='background-color: #176992').mb-3
          .card-body
            img(src='https://i.imgur.com/bmgfsSg.png', height=40)
            |  Lob
    .col-md-4
      a(href='/api/upload', style='color: #1565c0')
        .card(style='background-color: #fff').mb-3
          .card-body
            img(src='https://i.imgur.com/UPTzIdC.png', height=40)
            |  File Upload
    .col-md-4
      a(href='/api/pinterest', style='color: #fff')
        .card(style='background-color: #bd081c').mb-3
          .card-body
            img(src='https://i.imgur.com/JNNRQSm.png', height=40)
            |  Pinterest
    .col-md-4
      a(href='/api/google-maps', style='color: #fff')
        .card(style='background-color: #20a360').mb-3
          .card-body
            img(src='https://i.imgur.com/Er2ZqgZ.png', height=40)
            |  Google Maps
