extends ../layout

block append head

block content
//  scripts.
//    var osm = require('osm');
//    // show a map of the current position
//    map = osm().position(47.88038, 10.6222475);
//  map.show()
