extends ../layout

block content
  script(src='/js/optionaltag.js')
  form(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='tagname') New Tagname
      input.row-md-3.form-control(type='text', name='tagname', id='tagname', placeholder='tagname', autofocus, required)
      .col-md-7
    .form-group.row(id="optional_Tag")
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='addOptionalTagButton') add alternative Tagname
      button.row-md-3.btn.btn-primary(type='button', name='addOptionalTagButton', id='addOptionalTagButton', onclick='addOptionalTag()') +
    button.btn.btn-primary(type='submit') Add
